.details-title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
}

.details-location {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    margin-bottom: 20px;
}

.details-name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
    width: 35px;
    padding-right: 60px;
}

.flex-title-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details-picture {
    width: 64px;
    border-radius: 50%;
}

.flex-picture-name-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details-tags {
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-right: 10px;
    margin-top: 10px;
}

.collapse--housePage {
    display: block;
    width: 100%;
}

.double-accordeon {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 30px;
}

.collapse--housePage .Collaps p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.collapse--housePage .Collaps ul {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

ul {
    list-style-type: none;
}

.flex-picture-name-mobile {
    display: none;
}



@media screen and (max-width: 760px) {
    .flex-picture-name-desktop {
        display: none;
    }


    .flex-picture-name-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }

    .details-picture {
        width: 32px;
    }

    .flex-mobile {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .details-name {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        padding-right: 30px;

    }

    .rating-desktop {
        display: none;
    }

    .double-accordeon {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        margin-top: 30px;
        flex-direction: column;
    }

    .details-title {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .details-location {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .collapse--housePage .Collaps p {
        font-family: Montserrat;
        font-size: 12px;
    }

    .collapse--housePage .Collaps ul {
        font-family: Montserrat;
        font-size: 12px;
    }
}

@media screen and (max-width: 373px) {
    .details-tags {
background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-top: 5px;
    }
    }