.slider {
    display: flex;
    justify-content: center;
    height: 415px;
    width: 100%;
    position: relative;

}

.slideshow-image {
    position: absolute;
    width: 100%;
    height: 400px;
    inset: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    transition: opacity 0.5s ease-in-out;
}

.right-arrow {
    position: absolute;
    right: 25px;
    top: 40%;
    rotate: 0deg;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    height: 80px;
    width: 47px;
}

.left-arrow {
    position: absolute;
    left: 25px;
    top: 40%;
    rotate: 180deg;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    height: 80px;
    width: 47px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

.image-counter {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 1;
    margin-bottom: 45px;


}

@media screen and (max-width: 760px) {
    .slideshow-image {
        position: absolute;
        height: 255px;
        inset: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 1rem;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        transition: opacity 0.5s ease-in-out;
    }

    .left-arrow {
        position: absolute;
        left: 25px;
        top: 45%;
        rotate: 180deg;
        z-index: 10;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        height: 30px;
        width: 20px;
    }

    .right-arrow {
        position: absolute;
        right: 25px;
        top: 45%;
        rotate: 0deg;
        z-index: 10;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        height: 30px;
        width: 20px;
    }

    .slider {
        height: 255px;
    }

    .image-counter {
        display: none;
    }
}